@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cobra R Registry </h1>


    <p>
        The Cobra R Mustang is a high-performance variant of the Ford Mustang, renowned for its focus on track performance and limited production. Introduced by Ford's Special Vehicle Team (SVT), the Cobra R has been released in various years, each featuring enhancements in areas such as engine power, suspension, brakes, and aerodynamics. These models are purpose-built for racing and often lack amenities found in regular Mustangs to reduce weight. Notable years for the Cobra R include 1993, 1995, and 2000. Each release is characterized by its unique set of features, making the Cobra R a sought-after collector's item among automotive enthusiasts.
    </p>
</div>
